{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block body %}
<div class="block">
    <div class="error">{{ error }}</div>
<form method="post">{% csrf_token %}

    <p><span>Введите ваше e-mail:</span></p>
    <input type="text" name="email" required placeholder="Ваш e-mail">
    <p><span>Введите ваш пароль:</span></p>
    <input type="password" name="password" required placeholder="Ваш пароль">
    <p></p>
    <input type="submit" value="Войти">
</form>
</div>

{% endblock %}